<!DOCTYPE html>

<html lang="pl">
  <head>
    <meta charset="utf-8" />
    <title>{{email_subject}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      body{
        background-color: #fff;
        color: #444;
        width: 100%;
        padding: 35px;
      }
      h1{
        margin: 0 0 17px 0;
        padding: 0 0 17px 0;
        font-weight: normal;
        border-bottom: 2px solid #ccc;
      }
      p{
        margin: 0 0 20px 0;
        line-height: 200%;
      }
      ul{
        padding: 0 0;
        margin: 0 0;
      }
      li{
        display: block;
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Witaj {{user_name}} {{user_lastname}}</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sit amet magna diam. Aenean eu purus pretium, hendrerit lectus a, sagittis mauris. Nam consequat nibh purus, non rutrum sem volutpat eget. Mauris vestibulum mi in varius molestie. Pellentesque sit amet vulputate odio, non pretium tortor. Aliquam erat volutpat. Quisque sodales turpis tristique orci tincidunt, eu sollicitudin justo blandit. Ut semper augue eget condimentum pellentesque.
      </p>
      <ul>
        <li>Login: <b>{{user_email}}</b></li>
        <li>Hasło: <b>{{user_password}}</b></li>
      </ul>
      <p>
        Wiadomość zostałą wygenerowana automatycznie. Prosimy na nią nie odpowiadać.
      </p>
    </div>
  </body>
</html>
