<!DOCTYPE html>

<html lang="pl">
  <head>
    <meta charset="utf-8" />
    <title>{{email_subject}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      body{
        background-color: #fff;
        color: #444;
        width: 100%;
        padding: 35px;
      }
      h1{
        margin: 0 0 17px 0;
        padding: 0 0 17px 0;
        font-weight: normal;
        border-bottom: 2px solid #ccc;
      }
      p{
        margin: 0 0 20px 0;
        line-height: 200%;
      }
      ul{
        padding: 0 0;
        margin: 0 0;
      }
      li{
        display: block;
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <p>
        W Twojej kolejce pojawiło się nowe zgłoszenie.
      </p>
      <ul>
        <li>ID zgłoszenia: <b>{{ticket-id}}</b></li>
        <li>SLA: <b>{{ticket-sla}}</b></li>
        <li>Tytuł zgłoszenia: <b>{{ticket-headline}}</b></li>
      </ul>
      <p>
        Treść zgłoszenia:
      </p>
      <p>
        {{ticket-description}}
      </p>
    </div>
  </body>
</html>
