<form method="post" action="" id="admin-queue-flow" class="admin-form">
  <div class="admin-form-toolbar">
    <button type="submit" name="queue-flow-submit">Dodaj</button>
  </div>

  <table class="table-admin-list">
    <thead>
      <tr>
        <th>Nazwa kolejki (początkowa)</th>
        <th>Nazwa kolejki (docelowa)</th>
        <th>Procesflow</th>
      </tr>
    </thead>
    <tbody>
      {{flow-list}}
    </tbody>
  </table>
</form>
