<form method="post" action="" id="admin-form-config" class="admin-form">
  <div class="admin-flex">
    <div class="admin-form-cell">
      <div class="admin-form-row">
        <span>Status systemu e-mailowego</span>
        <select name="conf_emails" required>
          <option value="0" {{conf_email_0}}>Wyłączony</option>
          <option value="1" {{conf_email_1}}>Włączony</option>
        </select>
      </div>
      <div class="admin-form-row">
        <span>Status aplikacji</span>
        <select name="conf_sys_active" required>
          <option value="0" {{conf_sys_active_0}}>Wyłączona</option>
          <option value="1" {{conf_sys_active_1}}>Włączona</option>
        </select>
      </div>
    </div>
  </div>
  <div class="admin-form-toolbar">
    <button type="submit" name="config-submit">Zapisz</button>
  </div>
</form>
