<form method="post" action="" id="admin-form-new-product" class="admin-form">
  <div class="admin-flex">
    <div class="admin-form-cell">
      <div class="admin-form-row">
        <span>Nazwa</span>
        <input type="text" name="product_name" required />
      </div>
    </div>
  </div>
  {{errors}}
  <div class="admin-form-toolbar">
    <button type="submit" name="new-product-submit">Dodaj</button>
  </div>
</form>
<form method="post" action="" id="admin-form-edit-product" class="admin-form">
  <div class="admin-flex">
    <div class="admin-form-cell">
      <div class="admin-form-row">
        <span>Nazwa</span>
        <input type="text" name="product_name" required />
      </div>
    </div>
  </div>
  {{errors}}
  <div class="admin-form-toolbar">
    <input type="hidden" name="product_id">
    <input type="hidden" name="product_old_name">
    <button type="submit" name="edit-product-submit">Aktualizuj</button>
    <button type="button" class="edit-product-cancel">Anuluj</button>
  </div>
</form>
<table class="table-admin-list">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nazwa Systemu/Produktu</th>
      <th>Edytuj</th>
      <th>Usuń</th>
    </tr>
  </thead>
  <tbody>
    {{product-list}}
  </tbody>
</table>
<div class="pop-up-wrapper">
  <div class="pop-up">
    <h2>Usuń produktu</h2>
    <div class="pop-up-content">
      <form id="form-ticket-time-pop-up" method="post" action="">
        <span>Czy na pewno chcesz usunąć <b></b>?</span>
        <input type="hidden" name="product_id" />
        <button type="submit" name="delete-product-submit">Potwierdź</button>
        <button type="button" class="cancel-pop-up">Anuluj</button>
      </form>
    </div>
  </div>
</div>
