<form method="post" action="" id="admin-form-new-user" class="admin-form">
  <div class="admin-flex">
    <div class="admin-form-cell">
      <div class="admin-form-row">
        <span>Imię</span>
        <input type="text" name="user_name" required />
      </div>
      <div class="admin-form-row">
        <span>Naziwsko</span>
        <input type="text" name="user_lastname" required />
      </div>
    </div>
    <div class="admin-form-cell">
      <div class="admin-form-row">
        <span>Email</span>
        <input type="email" name="user_email" required />
      </div>
      <div class="admin-form-row">
        <span>Numer telefonu</span>
        <input type="text" name="user_phone_number" maxlength="12" required />
      </div>
    </div>
    <div class="admin-form-cell">
      <div class="admin-form-row">
        <span>Status konta</span>
        <select name="user_account_status" required>
          <option disabled selected>-- Wybierz --</option>
          <option value="0">Niekatywne</option>
          <option value="1">Aktywne</option>
        </select>
      </div>
      <div class="admin-form-row">
        <span>Kolejka</span>
        <select name="user_queue" required>
          <option disabled selected>-- Wybierz --</option>
          {{queue-list}}
        </select>
      </div>
    </div>
  </div>
  {{errors}}
  <div class="admin-form-toolbar">
    <button type="submit" name="new-user-submit">Dodaj</button>
  </div>
</form>
<form method="post" action="" id="admin-form-edit-user"  class="admin-form">
  <div class="admin-flex">
    <div class="admin-form-cell">
      <div class="admin-form-row">
        <span>Imię</span>
        <input type="text" name="user_name" required />
      </div>
      <div class="admin-form-row">
        <span>Naziwsko</span>
        <input type="text" name="user_lastname" required />
      </div>
    </div>
    <div class="admin-form-cell">
      <div class="admin-form-row">
        <span>Email</span>
        <input type="email" name="user_email" required />
      </div>
      <div class="admin-form-row">
        <span>Numer telefonu</span>
        <input type="text" name="user_phone_number" required />
      </div>
    </div>
    <div class="admin-form-cell">
      <div class="admin-form-row">
        <span>Status konta</span>
        <select name="user_account_status" required>
          <option disabled selected>-- Wybierz --</option>
          <option value="0">Niekatywne</option>
          <option value="1">Aktywne</option>
        </select>
      </div>
      <div class="admin-form-row">
        <span>Kolejka</span>
        <select name="user_queue" required>
          <option disabled selected>-- Wybierz --</option>
          {{queue-list}}
        </select>
      </div>
    </div>
  </div>
  {{errors}}
  <div class="admin-form-toolbar">
    <input type="hidden" name="user_id">
    <input type="hidden" name="user_old_email">
    <button type="submit" name="edit-user-submit">Aktualizuj</button>
    <button type="button" class="edit-user-cancel">Anuluj</button>
  </div>
</form>
<table class="table-admin-list">
  <thead>
    <tr>
      <th>ID</th>
      <th>Imię</th>
      <th>Nazwisko</th>
      <th>Email</th>
      <th>Numer telefonu</th>
      <th>Status konta</th>
      <th>Kolejka</th>
      <th>Data rejestracji</th>
      <th>Ostatnio online</th>
      <th>Edytuj</th>
      <th>Usuń</th>
    </tr>
  </thead>
  <tbody>
    {{users-list}}
  </tbody>
</table>
<div class="pop-up-wrapper">
  <div class="pop-up">
    <h2>Usuń użytkownika</h2>
    <div class="pop-up-content">
      <form id="form-ticket-time-pop-up" method="post" action="">
        <span>Czy na pewno chcesz usunąć użytkownika <b></b>?</span>
        <input type="hidden" name="user_id" />
        <button type="submit" name="delete-user-submit">Potwierdź</button>
        <button type="button" class="cancel-pop-up">Anuluj</button>
      </form>
    </div>
  </div>
</div>
