<!DOCTYPE html>

<html lang="pl">
  <head>
    <meta charset="utf-8" />
    <title>{{page-title}}</title>
    <!-- META -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../src/css/style.css">
    <!-- ICONS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rajdhani:300,400,700&display=swap" rel="stylesheet">
    <!-- SCRIPTS -->
    <script src="../src/js/jquery-3.2.1.min.js"></script>
    <script src="../src/js/admin.js"></script>
  </head>
  <body>
    <main id="admin-wrapper">
      <div id="left-admin-panel">
        <nav>
          <a href="index.php"><i class="fas fa-home"></i>Strona główna</a>
          <a href="users.php"><i class="fas fa-user-friends"></i>Użytkownicy</a>
          <a href="queues.php"><i class="fas fa-bars"></i>Kolejki</a>
          <a href="products.php"><i class="fas fa-database"></i>Systemy/Produkty</a>
          <a href="settings.php"><i class="fas fa-cogs"></i>Ustawienia</a>
          <a href="logout.php"><i class="fas fa-power-off"></i>Wyloguj</a>
        </nav>
      </div>

      <div id="right-admin-panel">
        <h1>{{main-headline}}</h1>
        {{page-content}}
      </div>
    </main>

  </body>
</html>
