<div id="form-login-wrapper">
  <form id="form-login-admin" method="post" action="">
    <h1>Panel administracyjny</h1>
    <div class="divider"></div>
    <div class="form-login-label">
      <input type="text" placeholder="Login" name="admin-login" required />
    </div>
    <div class="form-login-label">
      <input type="password" placeholder="Hasło" name="admin-password" required />
    </div>
    {{error}}
    <div class="form-login-buttons">
      <button type="submit" name="admin-login-submit">Zaloguj</button>
    </div>
  </form>
</div>
