<div id="form-login-wrapper">
  <form id="form-login" method="post" action="">
    <h1>Panel logowania</h1>
    <div class="divider"></div>
    <div class="form-login-label">
      <input type="email" name="user-login" placeholder="Adres email" required />
    </div>
    <div class="form-login-label">
      <input type="password" name="user-password" placeholder="Hasło" required />
    </div>
    {{error}}
    <div class="form-login-buttons">
      <button type="submit" name="login-submit">Zaloguj</button>
    </div>
  </form>
</div>
