<main>
  <div id="homepage" class="container">
    <h1>Strona główna</h1>
    <table class="ticket-list">
      <tr>
        <th>Identyfikator</th>
        <th>Tytuł</th>
        <th>SLA</th>
        <th>Kolejka</th>
        <th>Zdarzenie</th>
        <th>Data zdarzenia</th>
        <th>Wyzwalacz</th>
      </tr>
      {{user-event-list}}
    </table>
  </div>
</main>
