<!DOCTYPE html>

<html lang="pl">
  <head>
    <meta charset="utf-8" />
    <title>{{page-title}}</title>
    <!-- META -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="src/css/style.css">
    <!-- ICONS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rajdhani:300,400,700&display=swap" rel="stylesheet">
    <!-- SCRIPTS -->
    <script src="src/js/jquery-3.2.1.min.js"></script>
    <script src="src/js/main.js"></script>
  </head>
  <body>
    {{page-content}}
  </body>
</html>
