<main>
  <div id="queue-list" class="container">
    <div class="queue">
      <h2>Nowe ({{tickets_new_count}})</h2>
      {{tickets_new}}
    </div>
    <div class="queue">
      <h2>Analizowane ({{tickets_analyse_count}})</h2>
      {{tickets_analyse}}
    </div>
    <div class="queue">
      <h2>W trakcie realizacji ({{tickets_inprogress_count}})</h2>
      {{tickets_inprogress}}
    </div>
    <div class="queue">
      <h2>Oczekujące ({{tickets_pending_count}})</h2>
      {{tickets_pending}}
    </div>
  </div>
</main>
