<main>
  <form method="post" action="" enctype="multipart/form-data" id="form-new-ticket" class="container">
    <h1>Nowe zgłoszenie</h1>

    <!-- row -->
    <div class="form-ticket-row">
      <div class="form-ticket-cell-2">
        <span>Tytuł zgłoszenia</span>
        <input type="text" name="ticket_headline" maxlength="50" required/>
      </div>
    </div>

    <!-- row -->
    <div class="form-ticket-row">
      <div class="form-ticket-cell">
        <span>Wybierz kolejke</span>
        <select name="ticket_queue" required>
          <option value="0" disabled selected>-- Wybierz --</option>
          {{queue-list}}
        </select>
      </div>

      <div class="form-ticket-cell">
        <span>Wybierz Produkt / System</span>
        <select name="ticket_product" required>
          <option value="0" disabled selected>-- Wybierz --</option>
          {{product-list}}
        </select>
      </div>

      <div class="form-ticket-cell">
        <span>Wybierz priorytet</span>
        <select name="ticket_priority" required>
          <option value="0" disabled selected>-- Wybierz --</option>
          {{priority-list}}
        </select>
      </div>

      <div class="form-ticket-cell">
        <span>Wybierz środowisko</span>
        <select name="ticket_env" required>
          <option value="0" disabled selected>-- Wybierz --</option>
          {{env-list}}
          </select>
      </div>
    </div>

    <!-- row -->
    <div class="form-ticket-row">
      <div class="form-ticket-cell">
        <span>Wybierz impakt</span>
        <select name="ticket_impact" required>
          <option value="0" disabled selected>-- Wybierz --</option>
          {{impact-list}}
        </select>
      </div>

      <div class="form-ticket-cell">
        <span>ID rodzica</span>
        <input type="text" name="ticket_parent_id"/>
      </div>

      <div class="form-ticket-cell">
        <span>External ID</span>
        <input type="text" name="ticket_external_id"/>
      </div>

      <div class="form-ticket-cell"></div>
    </div>

    <!-- row -->
    <h1>Szczegóły zgłoszenia</h1>
    <div class="form-ticket-row">
      <div class="form-ticket-cell-4">
        <textarea name="ticket_description"></textarea>
      </div>
    </div>

    <h1>Załączniki</h1>

    <!-- row -->
    <div class="form-ticket-row half-margin">
      <div class="form-ticket-cell">
        <input type="file" name="ticket_attachments[]" multiple />
      </div>
    </div>

    <!-- row -->
    <div id="form-ticket-attachments" class="form-ticket-row">
      <div class="form-ticket-cell-4">
        <table class="form-table">
          <thead>
            <tr>
              <th><i class="fas fa-paperclip"></i></th>
              <th>Nazwa pliku</th>
              <th>Rozmiar pliku</th>
              <th>Rodzaj pliku</th>
              <th>Ostatnia modyfikacja</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="5">
                Brak dodanych załączników
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <h1>Dodaj obserwatorów</h1>

    <div id="subscibers-toolbar">
      <button type="button">Dodaj</button>
      <select>
        {{subscriber-list}}
      </select>
    </div>

    <!-- row -->
    <div class="form-ticket-row">
      <div class="form-ticket-cell-4">
        <table class="form-table" id="subscribers-table">
          <thead>
            <tr>
              <th class="text-center"><i class="fas fa-trash"></i></th>
              <th>Obserwator</th>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
        <div id="subscibers-container"></div>
      </div>
    </div>

    <div id="submit-toolbar">
      <button type="submit" name="ticket_new_submit">Wyślij zgłoszenie</button>
    </div>
  </form>
</main>
