<main>
  <div id="ticket-preview" class="container">
    <h1>[#{{ticket-id}}] {{ticket-headline}}</h1>

    <nav id="ticket-toolbar" style="display: {{ticket-toolbar}}!important;">
      <a href="#" id="ticket-btn-edit"><i class="fas fa-pencil-alt"></i>Edytuj ogólne</a>
      <a href="#" id="ticket-btn-time"><i class="fas fa-clock"></i>Dodaj czas pracy</a>
      <a href="#" id="ticket-btn-comment"><i class="fas fa-comment"></i>Dodaj komentarz</a>
    </nav>

    <form id="ticket-reopen-toolbar" style="display: {{ticket-reopen}}!important;" method="post" action="">
      <input type="hidden" name="ticket-id" value="{{ticket-id}}" />
      <button type="submit" name="ticket-reopen-submit">Otwórz ponownie</button>
    </form>

    <div id="ticket-info">
      <form id="ticket-summary" method="post" action="">
        <button type="submit" name="ticket_edit_submit"><i class="fas fa-save"></i>Zapisz</button>
        <h2>Informacje ogólne</h2>
        <div>
          <table>
            <tr>
              <td>SLA</td>
              <td><span class="SLA SLA-{{ticket-sla-uppercase}}">{{ticket-sla}}</span></td>
              <td>Produkt/System</td>
              <td>
                <select name="ticket_product" disabled>
                  {{product-list}}
                </select>
              </td>
              <td>Data stworzenia</td>
              <td>{{ticket-create-date}}</td>
            </tr>
            <tr>
              <td>Status</td>
              <td>
                <select name="ticket_status" disabled>
                  {{status-list}}
                </select>
              </td>
              <td>Środowisko</td>
              <td>
                <select name="ticket_env" disabled>
                  {{env-list}}
                </select>
              </td>
              <td>Data rozwiązania</td>
              <td>{{ticket-resolve-date}}</td>
            </tr>
            <tr>
              <td>Właściciel</td>
              <td>
                <select name="ticket_owner" disabled>
                  <option value="0">-</option>
                  {{ticket-queue-users}}
                </select>
              </td>
              <td>Priorytet</td>
              <td>
                <select name="ticket_priority" disabled>
                  {{priority-list}}
                </select>
              </td>
              <td>Parent ID</td>
              <td><input type="text" value="{{ticket-parent-id}}" name="ticket_parent_id" disabled/></td>
            </tr>
            <tr>
              <td>Kolejka</td>
              <td>
                <select name="ticket_queue" disabled>
                  {{queue-list}}
                </select>
              </td>
              <td>Impakt</td>
              <td>
                <select name="ticket_impact" disabled>
                  {{impact-list}}
                </select>
              </td>
              <td>External ID</td>
              <td><input type="text" value="{{ticket-external-id}}" name="ticket_external_id"/></td>
            </tr>
          </table>
        </div>
        <input type="hidden" value="{{ticket-old-status}}" name="ticket_status_old"/>
      </form>
    </div>

    <div id="ticket-people">
      <h2>Osoby kontakowe</h2>
      <div>
        <table>
          <tr>
            <td>Zgłaszający</td>
            <td>{{ticket-requestor-name}} {{ticket-requestor-lastname}}</td>
            <td>Realizujący</td>
            <td>{{ticket-owner-name}} {{ticket-owner-lastname}}</td>
          </tr>
          <tr>
            <td>Adres email</td>
            <td>{{ticket-requestor-email}}</td>
            <td>Adres email</td>
            <td>{{ticket-owner-email}}</td>
          </tr>
          <tr>
            <td>Numer telefonu</td>
            <td>{{ticket-requestor-phone}}</td>
            <td>Numer telefonu</td>
            <td>{{ticket-owner-phone}}</td>
          </tr>
        </table>
      </div>
    </div>

    <div id="ticket-content">
      <h2>Treść zgłoszenia</h2>
      <div>
        <p>{{ticket-description}}</p>
      </div>
      <h2 class="ticket-content-headline">Odpowiedzi ({{ticket-comment-count}})</h2>
      <div>
        {{ticket-comments}}
        <div class="divider"></div>
        <form id="ticket-reply" method="post" action="" enctype="multipart/form-data">
          Załączniki
          <input type="file" name="ticket-reply-attachments[]" multiple />
          <textarea name="ticket-reply-text"></textarea>
          <button type="submit" name="ticket-reply-submit">Wyślij odpowiedź</button>
        </form>
      </div>
    </div>

    <div id="ticket-section-tabs">
      <a href="#" tab-id="ticket-attachments" class="active-tab-button">Załączniki</a>
      <a href="#" tab-id="ticket-history">Dziennik zdarzeń</a>
      <a href="#" tab-id="ticket-subscribers">Obserwatorzy</a>
      <a href="#" tab-id="ticket-tags">Czas pracy</a>
    </div>
    <div id="ticket-section-container">
      <div id="ticket-attachments" class="ticket-section-active ticket-section">
        <table class="form-table">
          <thead>
            <tr>
              <th><i class="fas fa-file-download"></i></th>
              <th>Nazwa pliku</th>
              <th>Typ pliku</th>
              <th>Dodano przez</th>
              <th>Data dodania</th>
            </tr>
          </thead>
          <tbody>
            {{ticket-attachments}}
          </tbody>
        </table>
      </div>

      <div id="ticket-history" class="ticket-section">
        <table class="form-table">
          <thead>
            <tr>
              <th><i class="fas fa-sort-down"></i></th>
              <th>Zdarzenie</th>
              <th>Wyzwalacz</th>
              <th>Data zdarzenia</th>
              <th>Szczegóły</th>
            </tr>
          </thead>
          <tbody>
            {{ticket-events}}
          </tbody>
        </table>
      </div>

      <div id="ticket-subscribers" class="ticket-section">
        <div id="subscibers-toolbar-preview">
          <form method="post" action="">
            <button type="submit" name="new-subscriber-submit">Dodaj</button>
            <select name="new-subscriber" required>
              {{subscriber-list}}
            </select>
          </form>
        </div>
        <form method="post" action="" id="ticket-subscribers-delete">
          <table class="form-table">
            <thead>
              <tr>
                <th class="text-center""><i class="fas fa-trash"></i></th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Adres email</th>
                <th>Numer telefonu</th>
              </tr>
            </thead>
            <tbody>
              {{ticket-subscibers}}
            </tbody>
          </table>
          <button type="submit" name="delete-subscriber-submit">Usuń zaznaczone</button>
        </form>
      </div>

      <div id="ticket-tags" class="ticket-section">
        <table class="form-table">
          <thead>
            <tr>
              <th><i class="fas fa-sort-down"></i></th>
              <th>Imię</th>
              <th>Nazwisko</th>
              <th>Data</th>
              <th>Ilość czasu (min)</th>
            </tr>
          </thead>
          <tbody>
            {{ticket-time}}
          </tbody>
        </table>
      </div>

    </div>
  </div>
</main>
<div class="pop-up-wrapper">
  <div class="pop-up">
    <h2>Czas pracy</h2>
    <div class="pop-up-content">
      <form id="form-ticket-time-pop-up" method="post" action="">
        <input type="text" name="ticket-time-amount" placeholder="Wpisz czas pracy w minutach" required/>
        <button type="submit" name="ticket-time-submit">Zapisz</button>
        <button type="button" class="cancel-pop-up">Anuluj</button>
      </form>
    </div>
  </div>
</div>
