<main>
  <div class="container ticket-list-container">
    <h1>Szukaj zgłoszeń</h1>

    <form id="ticket-search-form" method="get" action="">
      <div id="ticket-search">
        <!-- cell -->
        <div class="ticket-search-cell">
          <!-- row -->
          <div class="ticket-search-row">
            <span>Identyfikator</span>
            <input type="text" name="id" value="{{ticket-id}}"/>
          </div>
          <!-- row -->
          <div class="ticket-search-row">
            <span>SLA</span>
            <select name="sla">
              <option value="all">-- Wybierz --</option>
              {{sla-list}}
            </select>
          </div>
          <!-- row -->
          <div class="ticket-search-row">
            <span>Kolejka</span>
            <select name="queue">
              <option value="0">-- Wybierz --</option>
              {{queue-list}}
            </select>
          </div>
          <!-- row -->
          <div class="ticket-search-row">
            <span>Właściciel</span>
            <select name="owner">
              <option value="0">-- Wybierz --</option>
              {{owner-list}}
            </select>
          </div>
          <!-- row -->
          <div class="ticket-search-row">
            <span>Zgłaszający</span>
            <select name="requestor">
              <option value="0">-- Wybierz --</option>
              {{requestor-list}}
            </select>
          </div>

        </div>

        <!-- cell -->
        <div class="ticket-search-cell">
          <!-- row -->
          <div class="ticket-search-row">
            <span>Status</span>
            <select name="status">
              <option value="0">-- Wybierz --</option>
              {{status-list}}
            </select>
          </div>
          <!-- row -->
          <div class="ticket-search-row">
            <span>System/Produkt</span>
            <select name="product">
              <option value="0">-- Wybierz --</option>
              {{product-list}}
            </select>
          </div>
          <!-- row -->
          <div class="ticket-search-row">
            <span>Priorytet</span>
            <select name="priority">
              <option value="0">-- Wybierz --</option>
              {{priority-list}}
            </select>
          </div>
          <!-- row -->
          <div class="ticket-search-row">
            <span>Środowisko</span>
            <select name="env">
              <option value="0">-- Wybierz --</option>
              {{env-list}}
            </select>
          </div>
          <!-- row -->
          <div class="ticket-search-row">
            <span>Impakt</span>
            <select name="impact">
              <option value="0">-- Wybierz --</option>
              {{impact-list}}
            </select>
          </div>

        </div>

        <!-- cell -->
        <div class="ticket-search-cell">
          <!-- row -->
          <div class="ticket-search-row">
            <span>Parent ID</span>
            <input type="text" name="pid" value="{{ticket-parent-id}}"/>
          </div>
          <!-- row -->
          <div class="ticket-search-row">
            <span>External ID</span>
            <input type="text" name="eid" value="{{ticket-external-id}}"/>
          </div>
          <!-- row -->
          <div class="ticket-search-row">
            <span>Data stworzenia od</span>
            <input type="text" name="df" placeholder="YYYY-MM-DD" value="{{ticket-df}}"/>
          </div>
          <!-- row -->
          <div class="ticket-search-row">
            <span>Data stworzenia do</span>
            <input type="text" name="dt" placeholder="YYYY-MM-DD" value="{{ticket-dt}}"/>
          </div>
        </div>
      </div>

      <div id="ticket-search-toolbar">
        <button type="submit" name="search-submit">Szukaj zgłoszeń</button>
      </div>
    </form>

    <h1>Wyniki wyszukiwania ({{search-count}})</h1>
    <table class="ticket-list">
      <tr>
        <th>Identyfikator</th>
        <th>Tytuł</th>
        <th>Data stworzenia</th>
        <th>SLA</th>
        <th>Status</th>
        <th>Kolejka</th>
        <th>Właściciel</th>
      </tr>

      {{search-list}}
    </table>
  </div>
</main>
