<header id="top-panel">
  <div class="container">
    <nav>
      <form id="form-simple-search" method="get" action="ticket-search.php">
        <input type="search" name="id" placeholder="Wprowadź numer zgłoszenia"/>
        <button type="submit"><i class="fas fa-search"></i></button>
      </form>

      <ul class="main-menu">
        <li>
          <a href="index.php"><i class="fas fa-home"></i>Strona główna</a>
        </li>
        <li>
          <a href="dashboard.php"><i class="fas fa-chart-area"></i>Dashboard</a>
        </li>
        <li>
          <a href="#"><i class="fas fa-pencil-alt"></i>Zgłoszenia</a>
          <ul class="sub-menu">
            <li><a href="ticket-search.php">Szukaj zgłoszeń</a></li>
            <li><a href="ticket-new.php">Nowe zgłoszenie</a></li>
            <li><a href="ticket-self.php">Twoje zgłoszenia</a></li>
          </ul>
        </li>
        <li>
          <a href="#"><i class="fas fa-user"></i>Konto</a>
          <ul class="sub-menu">
            <li><a href="profile.php">Profil</a></li>
            <li><a href="logout.php">Wyloguj</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>
