<main>
  <div id="user-profile" class="container">
    <h1>Profil użytkownika</h1>
    <table>
      <tr>
        <td>Imię</td>
        <td>{{user-name}}</td>
      </tr>
      <tr>
        <td>Nazwisko</td>
        <td>{{user-lastname}}</td>
      </tr>
      <tr>
        <td>Adres email</td>
        <td>{{user-email}}</td>
      </tr>
      <tr>
        <td>Numer telefonu</td>
        <td>{{user-phone-number}}</td>
      </tr>
      <tr>
        <td>Kolejka</td>
        <td>{{user-queue}}</td>
      </tr>
      <tr>
        <td>Status konta</td>
        <td>{{user-account-status}}</td>
      </tr>
      <tr>
        <td>Data rejestracji</td>
        <td>{{user-reg-date}}</td>
      </tr>
    </table>
  </div>
</main>
