<main>
  <div class="container ticket-list-container">
    <h1>Twoje stworzone zgłoszenia</h1>

    <table class="ticket-list">
      <tr>
        <th>Identyfikator</th>
        <th>Tytuł</th>
        <th>Data stworzenia</th>
        <th>SLA</th>
        <th>Status</th>
        <th>Kolejka</th>
        <th>Właściciel</th>
      </tr>
      {{user-ticket-list}}
    </table>
  </div>
</main>
