/*------------------------------------------------------------------------------
Global
------------------------------------------------------------------------------*/
:root
{
  --bodyBackgroundColor: #f5f5f5;
  --formBackgroundColor: #fff;
  --formtBorderColor: #e6e6e6;
  --inputBorderColor: #bbb;
  --buttonBackgroundColor: #003574;
  --buttonFontColor: #fff;
  --paddingBox: 35px;
  --marginBottomgBox: 35px;
  --marginBottomLabelForm: 10px;
}

body
{
  margin: 0 auto;
  background-color: var(--bodyBackgroundColor);
  font-family: 'Source Sans Pro', sans-serif;
  color: #444;
}

*
{
  box-sizing: border-box;
}

h1
{
  font-family: 'Rajdhani', sans-serif;
}

button
{
  cursor: pointer;
}

a
{
  text-decoration: none;;
  color: inherit;
  cursor: pointer;
}

.divider
{
  margin: 0 auto;;
  width: 40%;
  height: 4px;
  background-color: var(--buttonBackgroundColor);
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  margin: 25px auto;
  padding: 0 !important;
}

.container
{
  margin: 0 auto;
  width: 90%;
  max-width: 1300px;
}

.clearfix
{
  clear: both;
}
/*------------------------------------------------------------------------------
Login form
------------------------------------------------------------------------------*/
#form-login-wrapper
{
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

#form-login,
#form-login-admin
{
  min-width: 400px;
  background-color: var(--formBackgroundColor);
  padding: var(--paddingBox);
  border: 1px solid var(--formtBorderColor);
  border-radius: 4px;
}

#form-login h1,
#form-login-admin h1
{
  text-align: center;
  margin: 0 0;
}

.form-login-label
{
  margin-bottom: var(--marginBottomgBox);
}

.form-login-label input
{
  display: block;
  padding: 12px;
  border-radius: 4px;
  width: 100%;
  border: 1px solid var(--inputBorderColor);
}

.form-login-buttons
{
  text-align: right;
}

.form-login-buttons button
{
  background-color: var(--buttonBackgroundColor);
  color: var(--buttonFontColor);
  border: 0;
  font-family: inherit;
  font-size: inherit;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  padding: 12px 25px;
}
/*------------------------------------------------------------------------------
Top panel
------------------------------------------------------------------------------*/
#top-panel
{
  background-color: var(--formBackgroundColor);
  padding: 15px;
  border-bottom: 1px solid var(--formtBorderColor);
  margin-bottom: 50px;
}

#top-panel nav
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#form-simple-search
{
  border: 1px solid var(--inputBorderColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  margin: 0 0;
}

#form-simple-search input
{
  padding: 6px;
  border: 0;
  min-width: 200px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

#form-simple-search button
{
  font-size: inherit;
  font-family: inherit;
  background-color: transparent;
  border: 0;
}

.main-menu
{
  padding: 0;
  margin: 0;
}

.main-menu li
{
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  position: relative;
}

.main-menu li a
{
  display: inline-block;
  padding: 12px 25px;
  border-radius: 4px;
}

.main-menu li i
{
  margin-right: 7px;
}

.sub-menu
{
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  border: 1px solid var(--formtBorderColor);
  z-index: 997;
  width: 150%;
  background-color: var(--formBackgroundColor);
  border-radius: 4px;
  display: none;
}

.main-menu li:hover > ul.sub-menu
{
  display: block !important;
}

.sub-menu li
{
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
  border-bottom: 1px solid var(--formtBorderColor);
  z-index: 998;
}

.sub-menu li a
{
  display: block !important;
  z-index: 999;
}

nav a:hover
{
  background-color: var(--buttonBackgroundColor);
  color: var(--buttonFontColor);
  transition-duration: 0.5s;
}
/*------------------------------------------------------------------------------
Ticket list
------------------------------------------------------------------------------*/
#queue-list
{
  display: flex;
  align-content: space-between;
  background-color: var(--formBackgroundColor);
  margin-bottom: 50px;
  border: 1px solid var(--formtBorderColor);
}

#queue-list h2
{
  font-size: 1em;
  padding: 15px 0;
  margin: 0 0;
  text-align: center;
  border-bottom: 1px solid var(--formtBorderColor);
}

.queue
{
  width: calc(100% / 4);
  border-right: 1px solid var(--formtBorderColor);
}

.ticket
{
  display: block;
  padding: 10px;
  font-size: 0.8em;
  border-bottom: 1px solid var(--formtBorderColor);
  border-left: 5px solid transparent;
}

.ticket td
{
  font-size: 0.8em;
}

.ticket i
{
  margin-right: 7px;
}

.ticket td
{
  padding: 7px 0;
}

.ticket tr td:nth-child(1)
{
  width: 60%;
}

.ticket-gold
{
  border-left-color: red !important;
}

.ticket-silver
{
  border-left-color: #0095ff !important;
}

.ticket-standard
{
  border-left-color: #ccc !important;
}

.ticket span
{
  font-weight: bold;
}

.ticket table
{
  width: 100%;
}

.ticket-headline
{
  margin-bottom: 5px;
  display: block;
  font-size: 1.1em;
}

.ticket-owner
{
  font-weight: normal !important;
  color: #a1a1a1;
  font-style: italic;
}

.ticket-unasigned
{
  padding: 3px 7px;
  background-color: #fff200;
  display: inline-block;
  color: #000 !important;
  border-radius: 4px;
}

.SLA
{
  color: #fff;
  padding: 3px 5px;
  border-radius: 4px;
}

.SLA-Gold
{
  background-color: red;
}

.SLA-Silver
{
  background-color: #0095ff;
}


.SLA-Standard
{
  background-color: #ccc;
}

/*------------------------------------------------------------------------------
New ticket form
------------------------------------------------------------------------------*/
#form-new-ticket,
#ticket-preview,
.ticket-list-container,
#user-profile,
#homepage
{
  background-color: var(--formBackgroundColor);
  border: 1px solid var(--formtBorderColor);
  padding: var(--paddingBox);
  margin-bottom: 50px;
}

#form-new-ticket h1,
#ticket-preview h1,
.ticket-list-container h1,
#user-profile h1,
#homepage h1
{
  margin: 0 0 17px 0;
  padding: 0 0 17px 0;
  border-bottom: 2px solid var(--formtBorderColor);
}

.form-ticket-row
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.half-margin
{
  margin-bottom: 17px !important;
}

.form-ticket-cell
{
  min-width: 23%;
}

.form-ticket-cell-2
{
  min-width: 49%;
}

.form-ticket-cell-4
{
  min-width: 100%;
}

.form-ticket-row span
{
  display: block;
  margin-bottom: var(--marginBottomLabelForm);
}

.form-ticket-row input,
.form-ticket-row select,
.form-ticket-row textarea
{
  display: block;
  border: 1px solid var(--inputBorderColor);
  padding: 10px 7px;
  border-radius: 4px;
  width: 100%;
}

.form-ticket-row textarea
{
  min-width: 100%;
  max-width: 100%;
  min-height: 250px;
  font-family: inherit;
}

.form-table
{
  width: 100%;
  border-collapse: collapse;
}

.form-table td,
.form-table th
{
  border: 1px solid var(--inputBorderColor);
  padding: 15px;
  width: calc(94% / 4);
}

.form-table th
{
  text-align: left;
  background-color: var(--bodyBackgroundColor);
}

.form-table td:nth-child(1),
.form-table th:nth-child(1)
{
  width: 6% !important;
}

#subscibers-toolbar,
#subscibers-toolbar-preview
{
  margin-bottom: 17px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#subscibers-toolbar button,
#subscibers-toolbar-preview button,
button[name="delete-subscriber-submit"]
{
  background-color: var(--buttonBackgroundColor);
  color: var(--buttonFontColor);
  padding: 12px 17px;
  border: 0;
}

button[name="delete-subscriber-submit"]
{
  margin-top: 15px;
  display: none;
}

#subscibers-toolbar select,
#subscibers-toolbar-preview select
{
  border: 1px solid var(--inputBorderColor);
  padding: 10px 12px;
}

#submit-toolbar
{
  text-align: right;
  margin-top: 50px;
}

#submit-toolbar button
{
  background-color: var(--buttonBackgroundColor);
  color: var(--buttonFontColor);
  padding: 15px 25px;
  border: 0;
  font-size: 1em;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
}
/*------------------------------------------------------------------------------
Ticket preview
------------------------------------------------------------------------------*/
#ticket-toolbar
{
  margin-bottom: 17px;
}

#ticket-toolbar a,
#ticket-reopen-toolbar button
{
  display: inline-block;
  background-color: var(--buttonBackgroundColor);
  color: var(--buttonFontColor);
  padding: 10px 12px;
  border-radius: 4px;
  margin-right: 10px;
}

#ticket-reopen-toolbar button
{
  border: 0;
  font-family: inherit;
  font-size: inherit;
}

#ticket-toolbar a i
{
  margin-right: 7px;
}

#ticket-info
{
  display: flex;
  justify-content: space-between;

}

#ticket-info h2,
#ticket-content h2,
#ticket-people h2
{
  margin: 0 0 0 0;
  border-bottom: 1px solid var(--formtBorderColor);
  padding: 15px;
  /*background-color: var(--bodyBackgroundColor);*/
}

.ticket-content-headline
{
  border-top: 1px solid var(--formtBorderColor);
}

#ticket-summary,
#ticket-content,
#ticket-people
{
  /*background-color: var(--bodyBackgroundColor);*/
  border: 1px solid var(--formtBorderColor);
  width: 100%;
  border-radius: 4px;
  position: relative;
  margin-bottom: 50px;
}

#ticket-summary div,
#ticket-content div,
#ticket-people div
{
  padding: 15px;
}


#ticket-summary table,
#ticket-people table,
#user-profile table
{
  width: 100%;
  border-collapse: collapse;
}

#user-profile td
{
  border: 1px solid var(--formtBorderColor);
  padding: 15px;
}

#ticket-summary td
{
  padding: 7px 0;
  width: calc(100% / 6);
}

#ticket-people td
{
  padding: 7px 0;
  width: calc(100% / 4);
}

#ticket-summary td:nth-child(odd),
#ticket-people td:nth-child(odd)
{
  font-weight: bold;
}

#ticket-summary input,
#ticket-summary select
{
  width: 80%;
  font-size: inherit;
  font-family: inherit;
  /*padding: 3px;*/
  background-color: inherit;
  border: 1px solid transparent;
}

#ticket-summary button
{
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--buttonBackgroundColor);
  color: var(--buttonFontColor);
  padding: 10px 15px;
  font-family: inherit;
  /*font-size: inherit;*/
  display: none;
  border: 0;
}

#ticket-summary button i
{
  margin-right: 7px;
}

#ticket-content p
{
  margin: 0 0 20px 0;
  line-height: 200%;
}

.ticket-answer
{
  border-bottom: 1px solid var(--formtBorderColor);
  line-height: 200%;
  margin: 0 0 10px 0 !important;
  padding: 0 0 10px 0;
}

.ticket-answer span
{
  display: flex;
  justify-content: space-between;
}

.ticket-attachment
{
  display: block;
  padding: 5px 0;
}

#ticket-reply textarea
{
  min-width: 100%;
  max-width: 100%;
  padding: 15px;
  min-height: 100px;
  font-family: inherit;
  border: 1px solid var(--inputBorderColor);
  margin-bottom: 10px;
}

#ticket-reply select,
#ticket-reply input
{
  font-family: inherit;
  border: 1px solid var(--inputBorderColor);
  padding: 5px 7px;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-left: 10px;
}

#ticket-reply button
{
  background-color: var(--buttonBackgroundColor);
  color: var(--buttonFontColor);
  border: 0;
  padding: 12px 15px;
  font-size: inherit;
  font-family: inherit;
}

#ticket-section-tabs
{
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--formtBorderColor);
  border-right: 0;
}

#ticket-section-tabs a
{
  display: inline-block;
  text-align: center;
  width: 25%;
  padding: 15px 0;
  border-right: 1px solid var(--formtBorderColor);
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
}

#ticket-section-tabs a.active-tab-button
{
  background-color: var(--buttonBackgroundColor);
  color: var(--buttonFontColor);
}

#ticket-section-container
{
  border: 1px solid var(--formtBorderColor);
  border-top: 0;
  padding: 35px;
}

.ticket-tag
{
  background-color: var(--buttonBackgroundColor);
  color: var(--buttonFontColor);
  padding: 10px 15px;
  margin: 0 10px 10px 0;
  display: inline-block;
}

.ticket-section
{
  display: none;
}

.ticket-section-active
{
  display: block !important;
}
/*------------------------------------------------------------------------------
Pop up
------------------------------------------------------------------------------*/
.pop-up-wrapper
{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(245, 245, 245, 0.7);
  align-items: center;
  justify-content: center;
  display: none;
}

.pop-up
{
  width: 500px;
  background-color: var(--formBackgroundColor);
  box-shadow: 0px 1px 5px #aaa;
}

.pop-up h2
{
  margin: 0 0;
  padding: 15px;
  color: var(--buttonFontColor);
  background-color: var(--buttonBackgroundColor);
  font-family: 'Rajdhani', sans-serif;
}

.pop-up-content
{
  padding: 15px;
}

#form-ticket-time-pop-up input
{
  width: 100%;
  border: 1px solid var(--inputBorderColor);
  padding: 10px;
  border-radius: 4px;
  display: block;
}

#form-ticket-time-pop-up
{
  text-align: right;
}

#form-ticket-time-pop-up span
{
  display: block;
  text-align: left !important;
}

#form-ticket-time-pop-up button
{
  padding: 10px 15px;
  color: var(--buttonFontColor);
  background-color: var(--buttonBackgroundColor);
  font-weight: bold;
  font-family: 'Rajdhani', sans-serif;
  margin-top: 15px;
  border: 0;
}
/*------------------------------------------------------------------------------
Ticket list
------------------------------------------------------------------------------*/
.ticket-list
{
  width: 100%;
  border-collapse: collapse;
}

.ticket-list th,
.ticket-list td
{
  border: 1px solid var(--inputBorderColor);
  padding: 10px;
  text-align: center;
}

.ticket-list th
{
  background-color: var(--bodyBackgroundColor);
}

.ticket-list td
{
  font-size: 0.9em;
}

#ticket-search
{
  display: flex;
  justify-content: space-between;
  margin-bottom: 17px;
}

.ticket-search-cell
{
  width: 30%;
}

.ticket-search-row
{
  display: flex;
  align-items: center;
}

.ticket-search-row span,
.ticket-search-row input,
.ticket-search-row select
{
  width: 50%;
  margin-top: 15px;
  display: block;
  float: left;
}

.ticket-search-row input,
.ticket-search-row select
{
  padding: 5px;
  border: 1px solid var(--inputBorderColor);
}

#ticket-search-toolbar
{
  text-align: right;
}

#ticket-search-toolbar button
{
  border: 0;
  font-family: inherit;
  font-size: inherit;
  background-color: var(--buttonBackgroundColor);
  color: var(--buttonFontColor);
  padding: 10px 15px;
  border-radius: 4px;
}
/*------------------------------------------------------------------------------
Admin
------------------------------------------------------------------------------*/
#admin-wrapper
{
  display: flex;
}

#admin-wrapper h1
{
  margin: 0 0 17px 0;
  padding: 0 0 17px 0;
  font-family: 'Rajdhani', sans-serif;
  border-bottom: 2px solid var(--formtBorderColor);
}

#left-admin-panel
{
  min-height: 100vh;
  width: 15%;
  background-color: var(--buttonBackgroundColor);
}

#left-admin-panel i
{
  margin-right: 7px;
}

#left-admin-panel a
{
  display: block;
  color: #fff;
  padding: 15px;
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
}

#right-admin-panel
{
  width: 85%;
  min-height: 100vh;
  background-color: #fff;
  padding: 35px;
}

.table-admin-list
{
  width: 100%;
  border-collapse: collapse;
}

.table-admin-list button,
.table-admin-list a
{
  background-color: var(--buttonBackgroundColor);
  color: var(--buttonFontColor);
  border: 0;
  padding: 3px 6px;
  border-radius: 4px;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
}

.text-center
{
  text-align: center !important;
}

.table-admin-list th,
.table-admin-list td
{
  padding: 10px;
  border: 1px solid var(--formtBorderColor);
  font-size: 0.8em;
}

.table-admin-list th
{
  background-color: var(--bodyBackgroundColor);
}

.admin-form-toolbar
{
  margin-bottom: 35px;
  text-align: right;
}

.admin-form-toolbar button,
.remove-subscriber
{
  border: 0;
  padding: 10px 15px;
  color: #fff;
  background-color: var(--buttonBackgroundColor);
  border-radius: 4px;
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  font-size: inherit;
}

.admin-flex
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.admin-form-cell
{
  width: 30%;
}

.admin-form-row
{
  margin-bottom: 35px;
}

.admin-form-row span,
.admin-form-row input,
.admin-form-row select
{
  width: 100%;
  display: block;
}

.admin-form-row span
{
  margin-bottom: 10px;
}

.admin-form-row input,
.admin-form-row select
{
  border-radius: 4px;
  padding: 7px;
  font-family: inherit;
  border: 1px solid var(--inputBorderColor);
}

#admin-form-edit-user,
#admin-form-edit-product,
#admin-form-edit-queue
{
  display: none;
}

/*------------------------------------------------------------------------------
Alerts
------------------------------------------------------------------------------*/
.message
{
  border: 1px solid transparent;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 4px;
}

.message-error
{
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.message-success
{
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
